

#bagImage{
    background: url('../img/bag.png') center no-repeat;
    background-size: 80%;
    width: 300px;
    height: 600px;
    margin: 0 auto;
}
#bagImage.burst{
    background: url('../img/bag-burst.png') center no-repeat;
    background-size: 80%;
    
}
#bagHealth{
    width: 200px;
    margin: 0 auto 10px auto;
}
#bagHealth div{
    background-color: brown;
    height:20px;
}
#controls{
    margin: 0 auto;
    width: 120px;
    
}